@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

$background_black: black;
$black_lighten: lighten($background_black, 5);
$blue: #1847b7;
$grey: lighten($background_black, 40);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background_black;
}

header {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  a:hover {
    border-bottom: 2px solid $blue;
    transition-delay: 0s!important;
  }
}

body > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 150px;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 5px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size50 {
  font-size: 50px;
}

.colorWhite {
  color: white;
}

$i: 10;
$unit: '%';
@while $i <= 100 {
    .width_#{$i} {
      width: #{$i + $unit};
    }
  $i: $i + 10;
}

.dev {
  font-size: 25px;
  color: $blue;
  margin: 5px 0;
}

.background_white {
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.76) 0 18px 36px -18px inset;
}

.marg30 {
  margin: 30px;
}

.justify {
  display: flex;
  justify-content: center;
}

.align {
  display: flex;
  align-items: center;
}

li {
  padding: 5px;
  color: $grey
}

h2, h1 {
  color: $blue;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 70px;
  font-size: 40px;
}

#profil {
  font-size: 20px;
  padding: 10px;

  a {
    color: $blue;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.border {
  border: 1px solid #dadada;
  border-radius: 15px;
  padding: 30px;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg)!important;
  filter: blur(2px);
  opacity: 0.5;
  box-shadow: -10px 10px 20px grey;

  &:hover {
    transform: perspective(800px) rotateY(0deg) translateY(-50px) rotateX(0deg) scale(1)!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    filter: blur(0);
    opacity: 1;
    transition: 0.4s ease all!important;
  }
}

.border:hover > h2 {
  text-decoration: underline;
}

input, textarea {
  border: none;
  border-bottom: 2px solid $blue;
  padding: 5px;
  background-color: $background_black;
  color: white;
  margin: 20px 0;
  font-size: 20px;
}

textarea {
  border: 2px solid $blue;
  height: 200px;
}

#send {
  background-color: $blue;
  border-radius: 50px 0 50px 0;
  border-bottom: none;

  &:hover {
    $dark: darken($blue, 10);
    background-color: $dark;
    cursor: pointer;
  }
}

#cube {
  width: 35%;
  padding: 18%;
  background-color: $blue;
  transform-origin: center center;
  transform: rotate(70deg);
  animation-duration: 15s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(70deg);
  }

  to {
    transform: rotate(340deg);
  }
}

#changeColor {
  animation-duration: 15s;
  animation-name: color;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes color {
  from {
    color: $blue;
  }

  25% {
    color: #008806;
  }

  50% {
    color: red;
  }

  75% {
    color: #efef2e;
  }

  to {
    color: $blue;
  }
}

.image {
  position: absolute;
  width: 20%;
  left: 35%;
}

#profilTop {
  position: absolute;
  left: 55%;
}

.imageProject1 {
  position: relative;
  width: 70%;
  margin-bottom: -30px;
}

.gray {
  color: #adadad;
}

.imageProject2 {
  width: 30%;
}

.imageProject2 > img {
  width: 100%;
}

#titleProject {
  width: 80%;
}

.projectInverse {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.end {
  align-items: end;
}

.center2 {
  text-align: center;
}

.lineHorizontal {
  border-bottom: 2px solid $background_black;
  margin: 15px 0;
  animation-duration: 8s;
  animation-name: width;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes width {
  from {
    width: 0;
  }

  25% {
    width: 10%;
  }

  50% {
    width: 20%;
  }

  75% {
    width: 30%;
  }

  to {
    width: 0;
  }
}

.title {
  font-size: 40px;
  margin: 40px 0 0 0;
  color: $background_black;

  &:hover {
    color: $blue;
  }
}

.fa-hand-point-right {
  font-size: 25px;
  margin-right: 10px;
}

.fa-hand-point-left {
  font-size: 25px;
  margin-left: 10px;
}

.fa-arrow-circle-up  {
  color: $blue;
  position: fixed;
  bottom: 10px;
  right: 3%;
  font-size: 30px;
}

.contact {
  margin: 0;

  &:hover {
    text-decoration: underline $blue;
  }
}

.reveal [class*="reveal-"] {
  opacity: 0;
  transform: translateY(100px);
}

.reveal-visible [class*="reveal-"] {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

$i: 2;
$y: 0.2;
@while $i < 5 {
  @if ($i == 2) {
    .reveal-visible .reveal-#{$i} {
      transition-delay: $y + .1s;
    }
  }
  @else if($i == 3) {
    .reveal-visible .reveal-#{$i} {
      transition-delay: $y + .2s;
    }
  }
  @else {
    .reveal-visible .reveal-#{$i} {
      transition-delay: $y + .3s;
    }
  }
  $i: $i + 1;
  $y: $y + 0.1;
}

.margB {
  margin-bottom: 100px;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

.circle2 {
  border-radius: 50%;
  position: absolute;
}

.circle-1 {
  padding: 15px;
  left: 7%;
}

.circle-2 {
  padding: 20px;
  left: 4%;
  margin-top: -300px;
}

.circle-3 {
  padding: 25px;
  margin-top: 250px;
  left: 2%;
}

.circle-4 {
  right: 7%;
  padding: 15px;
}

.circle-5 {
  right: 4%;
  padding: 20px;
  margin-top: -300px;
}

.circle-6 {
  right: 2%;
  padding: 25px;
  margin-top: 250px;
}

.triangle {
  border-right: 1200px solid transparent;
  border-bottom: 900px solid white;
  width: 0;
  height: 0;
}

.padNot {
  padding: 0;
}

.absolute {
  position: absolute;
}

.imageDev1 {
  left: 10%;
  margin-top: 450px;
  height: 40%;

  img {
    height: 100%;
  }
}

.carre1, .carre2 {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.carre1 {
  border: 2px solid gray;
  margin-top: 50px;
  margin-left: 100px;
}

.carre2 {
  border: 2px solid $blue;
  margin-top: 100px;
  margin-left: -80px;
}

.imageDev2 {
  right: 10%;
  margin-top: 150px;
  height: 40%;

  img {
    height: 100%;
  }
}

.textDev {
  z-index: 0;
  left: 20%;
  margin-top: 100px;
  color: #dadada;
  font-size: 40px;
}

#profile, .contact{
  background-color: $background_black;
  animation: textColor 10s ease infinite;

  @keyframes textColor {
    0% {
      color: white;
    }
    25% {
      color: $blue;
    }
    50% {
      color: #7e0fff;
    }
    75% {
      color: $blue;
    }
    100% {
      color: white;
    }
  }
}

#profile {
  line-height: 30px;
}

.circle {
  animation: backColor 10s ease infinite;

  @keyframes backColor {
    0% {
      background-color: white;
    }
    25% {
      background-color: $blue;
    }
    50% {
      background-color: #7e0fff;
    }
    75% {
       background-color: $blue;
     }
    100% {
      background-color: white;
    }
  }
}

.circle2 {
  animation: borderColor 10s ease infinite;

  @keyframes borderColor {
    0% {
      border: 2px solid white;
    }
    25% {
      border: 2px solid $blue;
    }
    50% {
      border: 2px solid #7e0fff;
    }
    75% {
      border: 2px solid $blue;
    }
    100% {
      border: 2px solid white;
    }
  }
}

.bold {
  font-weight: bold;
  color: $blue;
}

.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  font-size: 22px;
  display: none;
  background-color: $blue;
}

.wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 1210px) {
  .triangle {
    border-right: 700px solid transparent;
    border-bottom: 900px solid white;
  }
  .imageDev1, .imageDev2 {
    height: 30%;
  }
}

@media screen and (max-width: 1100px) {
  .border {
    border: 1px solid #dadada;
    border-radius: 15px;
    padding: 30px;
    transform: perspective(800px) rotateY(0deg) translateY(-50px) rotateX(0deg) scale(1)!important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    filter: blur(0);
    opacity: 1;
  }
  .lineHorizontal {
    animation-iteration-count: 1;
    width: 80%;
  }
  .imageProject1 {
    width: 100%;
    margin-bottom: -5px;
  }
  #project {
    width: 95%;
    flex-direction: column-reverse;
  }
  body > div {
    padding: 100px 20px;
  }
  .imageProject2 {
    width: 40%;
  }
  .imageDev1, .imageDev2 {
    width: 40%;
    height: initial;
  }
  .textDev {
    left: 8%;
  }
  .carre1, .carre2 {
    display: none;
  }
  #titleProject {
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  #cube {
    display: none;
  }
  .image {
    position: initial;
    width: 200px;
    left: 25%;
  }
  #profilTop {
    position: initial;
    margin-top: 20px;
  }
  #top {
    flex-direction: column;
  }
  #form {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  header > a {
    font-size: 15px;
    margin: 0 5px;
  }
  #profil {
    font-size: 15px;
  }
  .size50 {
    font-size: 40px;
  }
  .circle, .circle2 {
    display: none;
  }
  .textDev {
    text-align: center;
    width: 80%;
    margin-top: 20px;
    font-size: 30px;
  }
  .imageDev1, .imageDev2 {
    width: 70%;
  }
  .imageDev1 {
    margin-top: 550px;
  }
  .triangle {
    border-bottom: 1000px solid white;
    border-right: 500px solid transparent;
  }
}

@media screen and (max-width: 500px) {
  .triangle {
    border-bottom: 800px solid white;
    border-right: 300px solid transparent;
  }
  .imageDev1 {
    margin-top: 450px;
  }
}
