@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

$background_black: black;
$black_lighten: lighten($background_black, 5);
$blue: #1847b7;
$grey: lighten($background_black, 40);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background_black;
}

header {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

body > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 150px;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 5px;
}

header > a:hover {
  border-bottom: 2px solid $blue;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size50 {
  font-size: 50px;
}

.colorWhite {
  color: white;
}

.width_100 {
  width: 100%;
}

.width_80 {
  width: 80%;
}

.width_20 {
  width: 20%;
}

.width_50 {
  width: 50%;
}

.width_30 {
  width: 30%;
}

.dev {
  font-size: 25px;
  color: $blue;
  margin: 5px 0;
}

.background_white {
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.59) 0px 18px 36px -18px inset;}

.marg30 {
  margin: 30px;
}

.justify {
  display: flex;
  justify-content: center;
}

.align {
  display: flex;
  align-items: center;
}

li {
  padding: 3px;
  color: $grey
}

h2, h1 {
  color: $blue;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 70px;
  font-size: 40px;
}

#profil {
  font-size: 20px;
  padding: 10px;
}

#profil > a {
  color: $blue;
}

#profil > a:hover {
  color: white;
  text-decoration: underline;
}

.border {
  border: 1px solid #dadada;
  border-radius: 15px;
  padding: 30px;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(1px);
  opacity: 0.5;
  transition: 0.6s ease all;
  box-shadow: -10px 10px 20px grey;

  &:hover {
    transform: perspective(800px) rotateY(0deg) translateY(-50px) rotateX(0deg) scale(1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    filter: blur(0);
    opacity: 1;
  }
}

.border:hover > h2 {
  text-decoration: underline;
}

input, textarea {
  border: none;
  border-bottom: 2px solid $blue;
  padding: 5px;
  background-color: $background_black;
  color: white;
  margin: 20px 0;
  font-size: 20px;
}

textarea {
  border: 2px solid $blue;
  height: 200px;
}

#send {
  background-color: $blue;
  border-radius: 50px 0 50px 0;
}

#cube {
  width: 35%;
  padding: 19%;
  background-color: $blue;
  transform-origin: center center;
  transform: rotate(70deg);
  animation-duration: 15s;
  animation-name: rotate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(70deg);
  }

  to {
    transform: rotate(340deg);
  }
}

#changeColor {
  animation-duration: 15s;
  animation-name: color;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes color {
  from {
    color: $blue;
  }

  25% {
    color: #008806;
  }

  50% {
    color: red;
  }

  75% {
    color: #efef2e;
  }

  to {
    color: $blue;
  }
}

.image {
  position: absolute;
  width: 20%;
  left: 35%;
}

#profilTop {
  position: absolute;
  left: 55%;
}

.black {
  color: $background_black;
}

.imageProject1 {
  position: relative;
  width: 70%;
  margin-bottom: -30px;
}

.imageProject2 {
  width: 30%;
}

.imageProject2 > img {
  width: 100%;
}

.width_90 {
  width: 90%;
}

#titleProject {
  width: 80%;
}

.lineHorizontal {
  border-bottom: 2px solid $background_black;
  margin: 15px 0;
  animation-duration: 8s;
  animation-name: width;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes width {
  from {
    width: 0;
  }

  25% {
    width: 10%;
  }

  50% {
    width: 20%;
  }

  75% {
    width: 30%;
  }

  to {
    width: 0%;
  }
}

.title {
  font-size: 40px;
  margin: 40px 0 0 0;
  color: $background_black;
}

.title:hover {
  color: $blue;
}

.fa-hand-point-right {
  font-size: 25px;
  margin-right: 10px;
}

.fa-arrow-circle-up  {
  color: $blue;
  position: fixed;
  bottom: 10px;
  right: 3%;
  font-size: 30px;
}

.contact {
  margin: 0;
}

.contact:hover {
  text-decoration: underline $blue;
}

@media screen and (max-width: 1100px) {
  .border {
    border: 1px solid #dadada;
    border-radius: 15px;
    padding: 30px;
    transform: perspective(800px) rotateY(0deg) translateY(-50px) rotateX(0deg) scale(1);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    filter: blur(0);
    opacity: 1;
  }
  .lineHorizontal {
    animation-iteration-count: 1;
    width: 80%;
  }
  .imageProject1 {
    width: 100%;
    margin-bottom: -5px;
  }
  #project {
    width: 95%;
    flex-direction: column-reverse;
  }
  body > div {
    padding: 100px 20px;
  }
  .imageProject2 {
    width: 40%;
  }
}

@media screen and (max-width: 790px) {
  #cube {
    display: none;
  }
  .image {
    position: initial;
    width: 200px;
    left: 25%;
  }
  #profilTop {
    position: initial;
    margin-top: 20px;
  }
  #top {
    flex-direction: column;
  }
  .black {
    color: white;
  }
  #form {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  header > a {
    font-size: 15px;
    margin: 0 5px;
  }
  #profil {
    font-size: 15px;
  }
}